.node {
  width: 25px;
  height: 25px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  /* display: inline-block; */
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}
