#board {
  margin: auto;
  display: table;
  border-collapse: collapse;
  margin-bottom: 4px;
  touch-action: pinch-zoom;
}

.board__row {
  display: table-row;
  margin: 0 auto;
  max-width: 100%;
}
