.board__node {
  display: table-cell;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(175, 210, 250);
  box-sizing: border-box;
  /* display: flex;
  flex: 1; */
}

.node-start {
  background-color: green;
  animation-name: draw-start;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  /* animation-direction: alternate;
  animation-fill-mode: forwards; */
}

.node-finish {
  background-color: red;
  animation-name: draw-finish;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  /* animation-direction: alternate;
  animation-fill-mode: forwards; */
}

.node-wall {
  background-color: rgb(12, 53, 71);
  animation-name: draw-wall;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  /* animation-direction: alternate;
  animation-fill-mode: forwards; */
}

.node-light {
  background-color: rgb(200, 215, 225);
}

.node-medium {
  background-color: rgb(144, 158, 168);
}

.node-heavy {
  background-color: rgb(101, 111, 121);
}

.board__path {
  height: 100%;
  /* display: flex;
  flex: 1; */
  /* border-right: 1px solid grey;
  border-bottom: 1px solid grey; */
}

.node-visited {
  background-color: rgba(0, 190, 220, 0.6);
  animation-name: draw-visited;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-direction: alternate;
  animation-fill-mode: forwards; */
}

.node-shortest-path {
  background-color: rgba(255, 255, 55, 0.6);
  animation-name: draw-shortest;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-direction: alternate;
  animation-fill-mode: forwards; */
}

.node-visited-unanimated {
  background-color: rgba(0, 190, 220, 0.6);
}

.node-shortest-path-unanimated {
  background-color: rgba(255, 255, 55, 0.6);
}

@keyframes draw-start {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw-finish {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw-wall {
  0% {
    transform: scale(0.3);
  }
  /* 75% {
    transform: scale(1.2);
  } */
  100% {
    transform: scale(1);
  }
}

@keyframes draw-visited {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  /* 50% {
    transform: scale(0.6);
  } */
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw-shortest {
  0% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
